<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/main.js"></script>

    <style>
        body{
    background: rgb(177, 148, 148);
}

h1{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    position: relative;
}

div.search{
    text-align: center;

}

h3.title{
    font-size: 30px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 20px;
}

button.edit{
    position: absolute;
    right: 3%;
    top: 10%;
    border: 1px solid black;
    cursor: pointer;
}
button.border{
    border: 4px solid black;
    cursor: pointer;
}

.list{
    display: inline;
}
img{
    width: 300px;
    height: 250px;
}

div.inline{
    display: inline;
}
div.hidden{
    display: none;
}
form.login{
    background: blue;
    padding: 5px;
}
form.register{
    position: absolute;
    top:5px;
    right: 3%;

}

    </style>
</head>

<body>
    <div class="">
    <form th:action="@{/login}" method="POST"  class="login">
        <input type="text" id="username" name="Username" placeholder="username" />
        <input type="password" placeholder="Password" id="password" name="password" />

        <button name="Submit" value="Login" type="Submit" th:text="Login">Login</button>
    </form>
    <form th:action="@{/registration}" method="get" class="register">
        <button class="" type="Submit">Registrarme</button>
    </form>

    </div>

    <h1>Bienvenido al Buscador de Restaurantes</h1>
    <button class="edit"><a href="/restaurants">CRUD Restaurante</a> </button>



    <form action="#" th:action="@{/}" th:object="${search}">
        <div class="search">
            <label for="search_input">Buscar:</label>
            <input type="search" placeholder="Comidas, Restaurantes, Bares" size="80"name="search" id="search">

            </input>
            <select name="pais" id="pais">
                <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.name}"></option>


                <select name="city" id="city">
                    <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                </select>


            </select>
            <button class="border"  type="Submit">Buscar</button>
        </div>
        <table>
        <tr>
            <th>ID</th>
            <th>name</th>

        </tr>
        <tr th:each="restaurant : ${search}">
            <td th:text="${restaurant.id}"></td>
            <td th:text="${restaurant.name}"></td>
        </tr>
        </table>
    </form>



    <br><br><br>
    <a href="/login">LOGIN</a>

    <table>
        <tr>

            <th>
                Restaurant
            </th>

            <th>
                Category
            </th>
            <th>
                City
            </th>

        </tr>
        <tr th:each="restaurant : ${restaurantList}">

            <td th:text="${restaurant.name}">
            </td>

            <td th:text="${restaurant.category.name}">
            </td>

            <td th:text="${restaurant.city.name}">
            </td>


            <td>
                <a th:href="${'/restaurant/'+ restaurant.id}">Ver</a>
            </td>
        </tr>

    </table>


    <h3 class="title">Ranking de Restaurantes</h3>
    <br>
    <div>
        <div class="d-inline p-2 bg-dark text-white">

            <img src="https://scontent.flpb3-1.fna.fbcdn.net/v/t1.0-9/32116435_1392811574198537_518887652003414016_n.jpg?_nc_cat=0&oh=aa064bf07438ee341c00f88ceae1f209&oe=5B8E8E7D">

        </div>
        <div class="d-inline p-2 bg-dark text-white">
            <img src="https://scontent.flpb3-1.fna.fbcdn.net/v/t1.0-9/31919486_1390177067795321_7045429704857223168_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeH89080sYLiff9NcxYMn8Wytu_2K8bBRr_SdtwPQlt1zR3P4d9GCEcfUhUNLvKPjpfVoh6BKjA1Yj2MHb1a_fYO6sMBlEjnSkziJMRYXNFhfQ&oh=2d601b6a0708940c5750a256a45f243d&oe=5B8E7B5D">

        </div>
        <div class="d-inline p-2 bg-dark text-white">

            <img src="https://scontent.flpb3-1.fna.fbcdn.net/v/t1.0-9/32087436_1391500414329653_8571161530467352576_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHhR7FWKtCxhHxV-W-j8dA3vPHV4R3o5MUkNRFfinzlRSSeQykZAHhW4c71_we_vPwrXZlUepPRUEsckg18YufctS5TC7EjNpyV0dL2a9VZKw&oh=9da1807345dbd8a495de01beec04f530&oe=5B52554C">
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
        

    </script>

</body>

</html>