<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Restaurant</title>
    <link rel="stylesheet" href="css/star.css">

</head>
<body>

  <h1>Restaurant</h1>
  <b>Id:</b> <p th:text="${restaurant.id}"></p>
  <b>Restaurant:</b> <p th:text="${restaurant.name}"></p>

  <b>Descripcion:</b> <p th:text="${restaurant.descripcion}"></p>

  <b>Ubicacion:</b> <p th:text="${restaurant.ubicacion}"></p>

  <b>Categoria:</b> <p th:text="${restaurant.category.name}"></p>

  <b>City:</b> <p th:text="${restaurant.city.name}"></p>

  <b>Foto:</b> <p th:text="${restaurant.foto}"></p>

  <b>Longitud:</b> <p th:text="${restaurant.longitud}"></p>
  <b>Latitud:</b> <p th:text="${restaurant.latitud}"></p>

  <b>Pais:</b> <p th:text="${pais.name}"></p>
<!--
  <b>Likes:</b>  <p th:text="${restaurant.like.likes}"></p>
  <a th:href="${'/like/' + restaurant.id}">Like</a>
  -->
  <form action="/comment" method="POST">
        <b>Comentario:</b>

        <input type="hidden" name="restaurant" th:value="${restaurant.id}">
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <br>
       <ul class="rate-area">

         <input type="radio" id="fivestar" name="rating" value="5" /><label for="fivestar" title="Amazing">5 stars</label>

         <input type="radio" id="fourstar" name="rating" value="4" /><label for="fourstar" title="Good">4 stars</label>

         <input type="radio" id="treestar" name="rating" value="3" /><label for="treestar" title="Average">3 stars</label>

         <input type="radio" id="twostar" name="rating" value="2" /><label for="twostar" title="Not Good">2 stars</label>

         <input type="radio" id="onestar" name="rating" value="1" /><label for="onestar" title="Bad">1 star</label>

       </ul>

        <input type="submit" value="Guardar"></input>
  </form>
  <p th:each="comment : ${restaurant.comments}" >
        <span th:text="${comment.text}"></span>

  </p>

</body>
</html>