body{
    background: rgb(177, 148, 148);
}

h1{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    position: relative;
}

div.search{
    text-align: center;
    
}

h3.title{
    font-size: 30px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 20px; 
}

button.edit{
    position: absolute;
    right: 3%;
    top: 10%;
    border: 1px solid black;
    cursor: pointer;
}
button.border{
    border: 4px solid black;
    cursor: pointer;
}

.list{
    display: inline;
}
img{
    width: 300px;
    height: 250px;
}

div.inline{
    display: inline;
}
div.hidden{
    display: none;
}
form.login{
    background: blue;
    padding: 5px;
}
form.register{
    position: absolute;
    top:5px;
    right: 3%;

}
